<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Linen Shirt Dress</b></p>	
  <p>Retail $168</p>
  <p>Style no. 849013</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/cotton-eyelet-shirt" %> | 
  <%= link_to "prev.", "/printed-critter-button-up" %>
</section>