<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Pintuck Shirt</b></p>	
  <p>Retail $148</p>
  <p>Style no. 848974</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/single-button-jacket" %> | 
  <%= link_to "prev.", "/ruched-jacket" %>
</section>