<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Printed Critter Button-Up</b></p>	
  <p>Retail $188</p>
  <p>Style no. 848947</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/silk-trim-sweater" %> | 
  <%= link_to "prev.", "/back-button-detail-linen-tunic" %>
</section>