<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Ruched Jacket</b></p>	
  <p>Retail $298</p>
  <p>Style no. 848987</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/pintuck-shirt" %> | 
  <%= link_to "prev.", "/single-button-linen-jacket" %>
</section>