<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Silk Trim Sweater</b></p>	
  <p>Retail $148</p>
  <p>Style no. 858091</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/linen-shirt-dress" %> | 
  <%= link_to "prev.", "/printed-critter-button-up" %>
</section>