<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Single Button Linen Jacket</b></p>	
  <p>Retail $268</p>
  <p>Style no. 849016</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/ruched-jacket" %> | 
  <%= link_to "prev.", "/printed-tunic" %>
</section>