<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Drape Front Jacket</b></p>	
  <p>Retail $298</p>
  <p>Style no. 104778</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/sequined-top-riding-pant" %> | 
  <%= link_to "prev.", "/faux-leather-blazer" %>
</section>