<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Faux Leather Blazer</b></p>	
  <p>Retail Price: $198</p>
  <p>Style no. 104300</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/drape-front-jacket" %> | 
  <%= link_to "prev.", "/stripe-blouse-wide-leg-pant" %>
</section>
