<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Faux Leather Motorcycle Jacket</b></p>	
  <p>Retail $328</p>
  <p>Style no. 104478</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/novelty-blouse-printed-pant" %> | 
  <%= link_to "prev.", "/tuxedo-blazer" %>
</section>