<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Long-sleeved Printed Shirt</b></p> 
  <p>Retail $138</p>
  <p>Style no. 104474</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/tuxedo-blazer" %> | 
  <%= link_to "prev.", "/novelty-pleat-shirt" %>
</section>
