<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Novelty Pleat Shirt</b></p>	
  <p>Retail $138</p>
  <p>Style no. 104261</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/ls-printed-shirt" %> | 
  <%= link_to "prev.", "/embroidered-plaid-shirt" %>
</section>