<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Novelty Blouse/Printed Pant</b></p>	
  <p>Retail Price: $198</p>
  <p>Style no. 104300</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/printed-knit-top-pleated-skirt" %> | 
  <%= link_to "prev.", "/faux-leather-motorcycle-jacket" %>
</section>