<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Printed Knit Top & Pleated Skirt</b></p>	
  <p>Retail Price: $138/$178</p>
  <p>Style no. 104773/104289</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/fitted-denim-jacket" %> | 
  <%= link_to "prev.", "/novelty-blouse-printed-pant" %>
</section>