<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Printed Jacket</b></p>	
  <p>Retail $278</p>
  <p>Style no. 104286</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/stripe-blouse-wide-leg-pant" %> | 
  <%= link_to "prev.", "/fitted-denim-jacket" %>
</section>