<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Sequined Top & Riding Pant</b></p>	
  <p>Retail $198/$158</p>
  <p>Style no. 104260/104231</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/embroidered-plaid-shirt" %> | 
  <%= link_to "prev.", "/drape-front-jacket" %>
</section>