<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Stripe Blouse & Wide Leg Pant</b></p>	
  <p>Retail Price: $198</p>
  <p>Style no. 104300</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/faux-leather-blazer" %> | 
  <%= link_to "prev.", "/printed-jacket" %>
</section>