<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Tuxedo Blazer</b></p>	
  <p>Retail $298</p>
  <p>Style no. 104287</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/faux-leather-motorcycle-jacket" %> | 
  <%= link_to "prev.", "/ls-printed-shirt" %>
</section>