<section class="social-buttons">
<div class="fb-like" data-href="http://www.facebook.com/paperwhitenyc" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-font="lucida grande"></div>

<br>

<a href="http://pinterest.com/paperwhitenyc/"><img src="http://passets-ec.pinterest.com/images/about/buttons/pinterest-button.png" width="60" alt="Follow Me on Pinterest" /></a>

<a href="https://twitter.com/paperwhiteshirt" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @paperwhiteshirt</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>