<%= render 'shared/header' %>

<div id="about-content">
<h1>About Paperwhite</h1><br>

  <p>Paperwhite speaks to the spirited woman who has a flair for the irreverent. Its blend of clean silhouettes with clever details produces pieces that are both graceful and fun. Each season features refined fabrications and nuanced finishings that appeal to women of all ages, and offers tasteful versatility from day into evening.</p> 

  <p>Paperwhite offers exceptional value for effortless style with an entry bridge retail price point.</p> 

  <p>Designed by Hinson Wu, a Parsons School of Design graduate and 15 year fashion veteran, the Paperwhite collection is also poised for phenomenal growth.</p>

  <p>Paperwhite's launch in 2008 was met with strong commercial response, and is currently featured in over 200 specialty stores.</p>
</div>