<%= render 'shared/header' %>

<div id="designer-content">
  <h1>Hinson Wu</h1><br>

<p>Originally from Canton, China, Wu moved to New York City with his family at the age of twelve. His interest in the business of fashion was ignited when he worked after school at a reputable clothing factory in New York’s garment district. After achieving early success in the world’s fashion center, Wu was inspired to enroll at the High School of Fashion Industries, one of New York’s leading vocational public schools.</p>

<p>Wu then continued his studies at the esteemed Parsons School of Design where he secured two internships. The first was with the knitwear ready-to-wear line Adrienne Vittadini, the second with the architectural, designer collection Yeohlee. Both experiences helped shaped Wu’s appreciation and understanding of fashion primarily as a business. Wu graduated Parsons in 1996 eager to dive in to the highly competitive world of fashion.</p>

<p>In 2001, Wu felt the need to move on to a more recognized label and landed a much-sought after position as Associate Designer for private label collections at Federated Inc.. Being repeatedly promoted during his six year tenure to Senior Designer, Wu’s main responsibility was designing one of Federated highest-volume private label women’s brands.</p>

<p>Now enjoying the challenge of leading the creative direction of Paperwhite, Wu takes time to find inspiration in all aspects of life and travel. From the intricate streets of Europe’s cities to the colorful, decorous Asian markets, Wu seeks out modern style for the real woman of today.</p>

</div>