<%= render 'shared/header' %>
<div id="press-content">
<h1>Press</h1><br>
<h2 class="press-sub-head">Excerpts from the May issue of Apparel Magazine</h2>

<%= image_tag "coverpage.gif", class: "press-cover" %>

<p><%= image_tag "apparel.png", class: "apparel-logo" %> Magazine salutes many of the key visionary firms shaping the industry in its 3rd annual special issue. Profiles of our winners highlight their ingenuity in overcoming challenges, their willingness to adapt to change and their flair for tapping into consumer desires in a highly competitive global marketplace. </p>
<br>
<%= image_tag "pw_press.jpg", class: "pw-cover" %>
<p>True innovation is identifying a need no one else has thought of tapping. That’s exactly what The Apparel Group has done with its offering of third-party services to others, including its own customers, in the industry.</p>

<p>The Apparel Group continues to demonstrate innovation in its designs, most recently with Paperwhite, a new shirt collection meant to meet the consumer’s desire for the “perfect white shirt” with a modern fit.</p>

<p>With versatile styling, the shirts can be used for career, day-to-evening, and casual outfits, and are made from a variety of European stretch cottons and beautiful silks.</p>

<p>According to The Apparel Group, with a retail price range of $128-$228, the collection fills the market’s need for entry-level bridge price points, where competitive quality shirts sell for $198-$378. Paperwhite is currently sold at Nordstrom, Bloomingdale’s and at more than 250 specialty stores in the United States and Canada.</p>






</div>