<%= render 'shared/header' %>

<div id="store-content">
  <h1>Stores</h1><br>
  <p>For Store Information, please contact us</p>
  <h3>1.800.223.6034</h3>
  <h3><%= mail_to "info@paperwhitecollection.com", "info@paperwhitecollection.com" %></h3>

</div>