<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Back Button Detail Linen Tunic</b></p>	
  <p>Retail $138</p>
  <p>Style no. 848979</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/printed-critter-button-up" %> | 
  <%= link_to "prev.", "/seersucker-shirt-dress" %>
</section>