<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Cotton Eyelet Shirt</b></p>	
  <p>Retail Price: $168</p>
  <p>Style no. 848954</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/printed-floral-shirt" %> | 
  <%= link_to "prev.", "/linen-shirt-dress" %>
</section>