<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Embroidered Shirt</b></p>	
  <p>Retail Price: $158</p>
  <p>Style no. 848937</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/printed-tunic" %> | 
  <%= link_to "prev.", "/spring-printed-jacket" %>
</section>