<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Printed Tunic</b></p>	
  <p>Retail Price: $158</p>
  <p>Style no. 848944</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/single-button-linen-jacket" %> | 
  <%= link_to "prev.", "/embroidered-shirt" %>
</section>