<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Single Button Jacket</b></p>	
  <p>Retail $268</p>
  <p>Style no. 848997</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/sleeveless-striped-dress" %> | 
  <%= link_to "prev.", "/pintuck-shirt" %>
</section>