<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Printed Jacket</b></p>	
  <p>Retail Price: $268</p>
  <p>Style no. 848956</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/embroidered-shirt" %> | 
  <%= link_to "prev.", "/printed-floral-shirt" %>
</section>