<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Bib Front Dress & Bamboo Buckle Belt</b></p> 
  <p>Retail $398/$68</p>
  <p>Style no. 151745/151755</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/embroidered-linen-pant" %> | 
  <%= link_to "prev.", "/roll-tab-boyfriend-shirt-and-denim-trousers" %>
</section>