<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Clip Dot Tank & Cropped Pant</b></p> 
  <p>Retail $258/$148</p>
  <p>Style no. 151723/150638</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/faux-leather-motorcycle-jacket" %> | 
  <%= link_to "prev.", "/ls-printed-shirt" %>
</section>