<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Crop Jacket & Floral Print Silk Top</b></p> 
  <p>Retail $178/$178</p>
  <p>Style no. 151707/151748</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/faux-leather-motorcycle-jacket" %> | 
  <%= link_to "prev.", "/ls-printed-shirt" %>
</section>