<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Drop Shoulder Sweater & Wide Leg Pant</b></p> 
  <p>Retail $148/$258</p>
  <p>Style no. 151165/151716</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/silk-tank-top-and-cropped-pant" %> | 
  <%= link_to "prev.", "/embroidered-linen-pant" %>
</section>