<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Elbow Sleeve Shirt Dress</b></p> 
  <p>Retail $198</p>
  <p>Style no. 151694</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/3-4-slv-printed-blouse-and-stretch-cropped-pant" %> | 
  <%= link_to "prev.", "/crop-jacket-and-floral-print-silk-top" %>
</section>