<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Embroidered Linen Pant</b></p> 
  <p>Retail $288</p>
  <p>Style no. 150672</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/drop-shoulder-sweater-and-wide-leg-pant" %> | 
  <%= link_to "prev.", "/bib-front-dress-and-bamboo-buckle-belt" %>
</section>