<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Embroidered Linen Pant</b></p> 
  <p>Retail $288</p>
  <p>Style no. 150672</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/faux-leather-motorcycle-jacket" %> | 
  <%= link_to "prev.", "/ls-printed-shirt" %>
</section>