<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Knit Tank Dress & Skinny Belt & Watefall Cardigan</b></p> 
  <p>Retail $148/$68/$198</p>
  <p>Style no. 150619/151756/150666</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/roll-tab-boyfriend-shirt-and-denim-trousers" %> | 
  <%= link_to "prev.", "/3-4-slv-printed-blouse-and-stretch-cropped-pant" %>
</section>