<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Linen Jacket & Tank Top & Slim Legging</b></p> 
  <p>Retail $258/$98/$148</p>
  <p>Style no. 150590/151711/106035</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/faux-leather-motorcycle-jacket" %> | 
  <%= link_to "prev.", "/ls-printed-shirt" %>
</section>