<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Roll Tab Boyfriend Shirt & Denim Trousers</b></p> 
  <p>Retail $148/$148</p>
  <p>Style no. 106017/106009</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/faux-leather-motorcycle-jacket" %> | 
  <%= link_to "prev.", "/ls-printed-shirt" %>
</section>