<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Safari Shirt Jacket & Printed Capri Pant</b></p> 
  <p>Retail $198/$138</p>
  <p>Style no. 150638/151752</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/faux-leather-motorcycle-jacket" %> | 
  <%= link_to "prev.", "/ls-printed-shirt" %>
</section>