<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Silk Tank Top & Clip Dot Scarf</b></p> 
  <p>Retail $198/$148</p>
  <p>Style no. 151717/151762</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/clip-dot-tank-and-cropped-pant" %> | 
  <%= link_to "prev.", "/striped-sequin-dress-and-waterfall-cardigan" %>
</section>