<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Sleevless Hi-Lo Printed Silk Shirt</b></p> 
  <p>Retail $238</p>
  <p>Style no. 150643</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/faux-leather-motorcycle-jacket" %> | 
  <%= link_to "prev.", "/ls-printed-shirt" %>
</section>