<%= render 'shared/header' %>
<section class="product-content">
  <p><b>Striped Sequin Dress & Waterfall Cardigan</b></p> 
  <p>Retail $298/$128</p>
  <p>Style no. 151765/151269</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/silk-tank-top-and-clip-dot-scarf" %> | 
  <%= link_to "prev.", "/sleevless-hi-lo-printed-silk-shirt" %>
</section>