<%= render 'shared/header' %>
<section class="product-content">
  <p><b>3/4 Slv Printed Blouse & Stretch Cropped Pant</b></p> 
  <p>Retail $188/$148</p>
  <p>Style no. 150654/150638</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/knit-tank-dress-and-skinny-belt-and-waterfall-cardigan" %> | 
  <%= link_to "prev.", "/elbow-sleeve-shirt-dress" %>
</section>