<%= render 'shared/header' %>
<section class="product-content">
  <p><b>3/4 Slv Block Linen Tunic</b></p> 
  <p>Retail $148</p>
  <p>Style no. 151686</p> 
  <%= render 'shared/social-buttons' %>
  <%= link_to "next", "/crop-jacket-and-floral-print-silk-top" %> | 
  <%= link_to "prev.", "/clip-dot-tank-and-cropped-pant" %>
</section>